@font-face {
    font-family: 'Dosis Medium';
    src: url('../fonts/Dosis-Medium.ttf');
}

@font-face {
    font-family: 'IndieFlower';
    src: url('../fonts/IndieFlower.ttf');
}

@font-face {
    font-family: 'Delicious Italic';
    src: url('../fonts/Delicious-Italic.ttf');
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.ttf');
}