*{
    font-family: "Roboto", sans-serif;
    outline: none;
}

.grade .etapa2{
    display: none;
    padding: 20px;
}

.grade .botoes{
    text-align: center;
    padding: 20px;
}

.grade .texto-confirme{
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    padding: 15px 40px 40px;
}
.grade .btn-grade{
    box-shadow: none;
    text-shadow: none;
    border-radius: 4px;
    color: white;
    background-color: #444444;
    padding: 12px 25px;
    font-weight: 300;
    text-transform: uppercase;
    border: 0;
    font-size: 14px;
    line-height: 120%;
    cursor: pointer;
}
.grade .btn-grade:hover{
    box-shadow: none;
}

.grade .navegacao{
    margin: 20px;
}
.grade .navegacao ul{
    margin: 0;
    border: 0;
    border-top: solid 2px #113259;
    border-bottom: solid 2px #113259;

}

.grade .navegacao ul li{
    width: 20%;
    text-align: center;
    margin-bottom: 0;
}
.grade .navegacao ul li a{
    text-transform: uppercase;
    border-radius: 0;
    border: 0;
    padding: 10px 0;
    margin-right: 0;
}

.grade .navegacao ul li:not(.active) a{
    color: #113259;
}
.grade .navegacao ul li.active a{
    border: none;
    background-color: #113259;
    color: #ffffff;
    font-weight: 500;
}

.grade .navegacao ul li:not(.active) a:hover{
    background-color: #eeeeee;
    color: #113259;
    border: none;
}
.grade .selecao{
    position: relative;
}
.grade .selecao .item-grade-out{
    padding: 0 8px 30px;
    display: inline-block;
    width: 16.5%;
    position: absolute;
    vertical-align: top;
    left: 0;
}


.grade .selecao .item-grade{
    cursor: pointer;
    position: relative;
    display: table;
    width: 100%;
}
.grade .selecao .item-grade-content{
    display: table-cell;
    vertical-align: middle;
    padding: 15px;
}

.grade .selecao .item-grade.visita{
    background-color: #721514;
}
.grade .selecao .item-grade.palestra{
    background-color: #113259;
}
.grade .selecao .item-grade.minicurso{
    background-color: #444444;
}

.grade .selecao .item-grade .item-grade-type{
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 0 15px 0;
    margin: 0;
    text-decoration: underline;
}

.grade .selecao .item-grade .item-grade-title{
    color: white;
    text-align: center;
    padding: 6px 0 0;
    margin: 0;
    font-size: 11px;
}
.grade .selecao .item-grade .item-grade-time{
    color: white;
    font-size: 10px;
    text-align: center;
    padding-top: 5px;
    margin: 0;
}
.grade .selecao .item-grade input[type=checkbox]{
    display: none;
}
.grade .selecao .item-grade.disabled-input{
    background-color: #cccccc;
    color: white;
}

.grade .selecao .item-grade.selected-input:after{
    content: "";
    position: absolute;
    right: -3px;
    top: -3px;
    border-style: solid;
    border-width: 0 50px 50px 0;
    border-color: transparent #222222 transparent transparent;
}
.grade .selecao .item-grade.selected-input:before{
    content: "✓";
    position: absolute;
    right: 5px;
    top: 2px;
    color: white;
    z-index: 1;
    font-size: 18px;
}

.col-dia{
    padding: 0;
    position: relative;
}

.grade-final .col-dia{
    border-right: solid 1px #000;
}

.grade-final .col-dia:first-child{
    border-left: solid 1px #000;
}

.tab-content .day-period{
    height: 60px;
    border-bottom: solid 1px #000;
}
.grade-final .day-period{
    height: 30px;
    border-bottom: solid 1px #000;
}
.day-period:first-child{
    border-top: solid 1px #000;
}

.day-hour{
    padding: 6px 0;
    text-align: center;
}

.sold-out:not(.disabled-input):hover:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-image: url("../images/esgotado.png");
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}


.sold-out:not(.disabled-input):hover:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #555555;
    z-index: 0;

}



.sold-out:hover:after{
    content: "";

}

.grade-final .quadro-grade{
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 10px;
    display: table;
    padding: 6px;
}
.grade-final .quadro-grade-texto{
    display: table-cell;
    vertical-align: middle;
    z-index: 1;
    color: white;
    padding: 5px;
}

.grade-final .quadro-visita{
    background-color: #721514;
}
.grade-final .quadro-palestra{
    background-color: #113259;
}
.grade-final .quadro-minicurso{
    background-color: #444444;
}

.dia-nome {
    position: absolute;
    top: -20px;
    width: 100%;
    border-bottom: solid 1px #000;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.grade .navegacao.seletores{
    width: 60%;
    margin: 20px auto 50px;
}
.grade .navegacao.seletores ul{
    border-top: solid 2px #444444;
    border-bottom: solid 2px #444444;
}
.grade .navegacao.seletores ul li{
    width: 33.333333%;
}
.grade .navegacao.seletores ul li.active a{
    background-color: #444444;
}
.grade .navegacao.seletores ul li:not(.active) a {
    color: #444444;
}

.item-grade-out{
    display: none;
}

.item-grade-local{
    color: white;
    text-align: center;
    font-size: 10px;
}