<label class="control-label"  for="typeahead">Add Categoria</label>
							  <div class="controls">
								<input type="text" size="10" id="addCategoria"  class="span6 typeahead" id="typeahead"  data-provide="typeahead" data-items="4" data-source='["Cadeira de Alumínio","Mesa de Jantar"]'>
								 <button onclick="teste();" class="btn" type="button">Ok</button>
								<p class="help-block"></p>

							  </div>
							<div class="controls" style="marging-top:30px;">
							  <div  class="row-fluid" id="tabela" style="  float:inherit; marging-top:20px; padding-top:20px; display: none">
								<div class="box span6">
									<div class="box-header">
										<h2><i class="icon-align-justify"></i><span class="break"></span>Categorias</h2>
										
									</div>
									<div class="box-content" >
										<table class="table" id="tabela_categorias">
											  <thead>
												  <tr>
													  <th>Categoria</th>
													  <th>Excluir</th>
													                                           
												  </tr>
											  </thead>   
											  <tbody>
												                         
											  </tbody>
										 </table>  
										
										</div>     
									</div>
								</div>
							</div>