<!DOCTYPE html>
<html lang="pt">
<head>
	
	<!-- start: Meta -->
	<meta charset="utf-8">
	<title></title>
	<meta name="author" content="Łukasz Holeczek">
	<meta name="keyword" content="SimpliQ, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
	<!-- end: Meta -->
	
	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- end: Mobile Specific -->
	
	<!-- start: CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-responsive.min.css" rel="stylesheet">
	<link href="css/style.min.css" rel="stylesheet">
	<link href="css/style-responsive.min.css" rel="stylesheet">
	<link href="css/retina.css" rel="stylesheet">
	
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
	<link rel="shortcut icon" href="ico/favicon.png">
	<!-- end: Favicon and Touch Icons -->	
	<script src="js/jquery-1.10.2.min.js"></script> 
</head>


<script>
	// $.ajax({
	// url: "../controllers/cadastros.php",
 //    data: {action:"session", session:localStorage.getItem("login")}, 
 //    dataType:'json',
 //    type: "GET",
 //    success: function(data){
 //    	console.log("funfou");
 //    	console.log(data);
 //    },	
	// error: function(data){
	//  	console.log(data);
 //    }, 
 //    cache: false,
 //    contentType: false,
 //    processData: false
 //   });
</script>

<body >
	
	<div class="navbar" >
		<div class="row-fluid">	
			<div class="box span12">
				<div class="box-header">
					<h2><i class="icon-hand-up"></i>Painel de Controle</h2>
				</div>
				<div class="box-content">
					<a href="javascript:openCad('cadastros', 'cadastro_produto.php')" class="quick-button span2">
					<i class="icon-barcode"></i>
					<p>Produto</p>
					</a>
					<a href="javascript:openCad('cadastros', 'cadastro_fabrica.html')" class="quick-button span2">
						<i class="icon-hospital"></i>
						<p>Fábrica</p>
					</a>
					<a href="javascript:openCad('cadastros', 'cadastro_categoria.html')" class="quick-button span2">
						<i class="icon-reorder"></i>
						<p>Categoria</p>
					</a>
					<a href="javascript:openCad('cadastros', 'cadastro_caracteristica.html')" class="quick-button span2">
						<i class="icon-tasks"></i>
						<p>Catacterística</p>
					</a>
					<div class="clearfix"></div>
				</div>	
				<object  id="cadastros"  type="text/html" ></object>	
			</div>

		</div><!--/span-->		

	</div><!--/row-->

	
	
</body>
	<script>

		function openCad(id, url) {
			console.log(url);
       		var x=document.getElementById('cadastros');	
       		x.setAttribute('data', url);
       		x.setAttribute('width', window.innerWidth * 2.2);
       		x.setAttribute('height', window.innerHeight * 0.9);


     	}
	</script>
</html>