<html>
<!DOCTYPE html>
<html lang="pt">
<head>
	<meta name="author" content="Łukasz Holeczek">
	<meta name="keyword" content="SimpliQ, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
	<meta name="description" content="SimpliQ - Flat & Responsive Bootstrap Admin Template.">
	<meta name="author" content="Łukasz Holeczek">
	<meta name="keyword" content="SimpliQ, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- end: Meta -->

<meta charset="utf-8">
<link href="css/style.min.css" rel="stylesheet">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/bootstrap-responsive.min.css" rel="stylesheet">

<link rel="stylesheet" href="dist/build.min.css">
<link rel="stylesheet" href="css/fastselect.min.css">

<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.12.4.min.js">$.noConflict();</script>
<script src="dist/build.min.js">$.noConflict();</script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js">$.noConflict();</script>
<link rel="canonical" href="https://github.com/dbrekalo/fastselect/"/>

        <script src="js/fastselect.standalone.js"></script>

        <style>
        .selecionada{
			border-color: gold;
			border-style:dashed;
			border-width: 4px;
		}

            .fstElement { font-size: 1.2em; }
            .fstToggleBtn { min-width: 16.5em; }

            .submitBtn { display: none; }

            .fstMultipleMode { display: block; }
            .fstMultipleMode .fstControls { width: 100%; }

        </style>

        <style>
	.loader {
	 clear: left; float: left; position: relative; left: 50%; 
	  border: 16px solid #f3f3f3;
	  border-radius: 50%;
	  border-bottom: 14px solid silver;
	  width: 30px;
	  height: 30px;
	  opacity: 0.5;

		  -webkit-animation: spin 2s linear infinite;
		  animation: spin 2s linear infinite;
		}

		@-webkit-keyframes spin {
		  0% { -webkit-transform: rotate(0deg); }
		  100% { -webkit-transform: rotate(360deg); }
		}

		@keyframes spin {
		  0% { transform: rotate(0deg); }
		  100% { transform: rotate(360deg); }
		}
		.loader2 {
			  border: 16px solid #f3f3f3;
			  border-radius: 50%;
			  border-top: 16px solid #3498db;
			  position: fixed;
			  left:30%;
			  top: 30%;
			  width: 120px;
			  height: 120px;
			  
			  -webkit-animation: spin 2s linear infinite;
			  animation: spin 2s linear infinite;
			}

			@-webkit-keyframes spin {
			  0% { -webkit-transform: rotate(0deg); }
			  100% { -webkit-transform: rotate(360deg); }
			}

			@keyframes spin {
			  0% { transform: rotate(0deg); }
			  100% { transform: rotate(360deg); }
			}
			</style>
        
     <div id="dialog" style="display:none; overflow:hidden" title="Selecione" >
		
	</div>
	<div id="dialog2" style="display:none; overflow:hidden" >
		
	</div>
	<script>
		function excluir(id){
			var tableCarSize= $($("#tabela_caracteristicas").find("thead")[0]).find("tr").length;
			for(var i=1;i<tableCarSize;i++){
				if($($($("#tabela_caracteristicas").find("thead")[0]).find("tr")[i]).attr('id')==id){
					$($($("#tabela_caracteristicas").find("thead")[0]).find("tr")[i]).empty();
				}
			}
		}
		var deletar = [];
		function excluirCat(id){
			var tableCatSize= $($("#tabela_categorias").find("thead")[0]).find("tr").length;
			for(var i=1;i<tableCatSize;i++){
				var current=$($($("#tabela_categorias").find("thead")[0]).find("tr")[i]); 
				
				if($($($("#tabela_categorias").find("thead")[0]).find("tr")[i]).hasClass("sub")==false){
					//console.log("não");
					//console.log(current);
					if($($($("#tabela_categorias").find("thead")[0]).find("tr")[i]).attr('id')==id){				
						deletar.push($($($("#tabela_categorias").find("thead")[0]).find("tr")[i]));
					}
				}else{
					//console.log("comsub");
					//console.log(current);
					for(var j=1;j<tableCatSize;j++){
						var x = $($($("#tabela_categorias").find("thead")[0]).find("tr")[j]);
						console.log(x.attr("id"));
						console.log(x.hasClass("sub"));
						if(x.hasClass("sub")){
							console.log("entrei");
							if(cat_sub[x.attr("id")]==id){
								deletar.push(x);
								console.log("isadhfkadfkoadsjf");
							}
						}
					}
				}
			}
			for(var i=0;i<deletar.length;i++){
				deletar[i].remove();

			}
		}
		function excluirSub(id){
			var tableCatSize= $($("#tabela_categorias").find("thead")[0]).find("tr").length;
			for(var i=1;i<tableCatSize;i++){
				var current =$($($("#tabela_categorias").find("thead")[0]).find("tr")[i]).attr('id'); 
				if($($($("#tabela_categorias").find("thead")[0]).find("tr")[i]).hasClass("sub")){
					if(current==id){
						$($($("#tabela_categorias").find("thead")[0]).find("tr")[i]).remove();
					}
				}
			}
		}
	</script>
</head>

	
				<form class="form-horizontal" scroll="no" >
					<div class="loader" id="ext_loader"></div>
					<fieldset id="campos" style="display:none">
						<div class="control-group">
							
							<div class="controls">
								<label> Nome</label>
								<input input class="input-xlarge focused" id="nome" type="text" value=""></input>
								
							</div>
						</div>
						<div class="control-group">
							<div class="controls">
								<label>Fábrica</label>
								<select class="singleSelectGrouped" id="fabrica_select" name="language">
				                    
			           			</select>
							</div>
						</div>
						<div class="control-group">
								  <div class="controls">
									  <label class="checkbox inline">
										<input type="checkbox" id="inlineCheckbox2" class="lanc" value="option5"> Lançamento</input>
									  </label>
									  <label class="checkbox inline">
										<input type="checkbox" id="inlineCheckbox2" class="ativo" checked selected="true" value="option5"> Ativo</input>
									  </label>
									</div>	
									</div>
						<div class="control-group">
							<div class="controls" id="cat_controls">
								<label>Categoria</label>
								<select class="singleSelectGrouped" id="categorias_select" name="language">
				                    
			           			</select>
			           			<button class="btn" style="height:46px;" onclick="addRowCat()" type="button">OK</button>
			           			<label>Subcategoria</label>
								<select class="singleSelectGrouped" id="subcategorias_select" name="language">
				                    
			           			</select>
			           			<button class="btn" style="height:46px;" onclick="addRowSub()" type="button">OK</button>
			           			<div  class="row-fluid" id="tabela" style="  float:inherit; marging-top:20px; padding-top:20px; display: none">
										<div class="box span6">
											<div class="box-header">
												<h2><i class="icon-align-justify"></i><span class="break"></span>Categorias e Subcategorias</h2>
											</div>
											<div class="box-content" >
												<table class="table" id="tabela_categorias">
												  <thead>
													  <tr>
														  <th>Categorias e Subcategorias</th>
														  <th>Excluir</th>
														                                    
													  </tr>
												  </thead>   
											
												</table>  
											</div>     
										</div>
							</div>
						</div>
						<div class="control-group">
							<div class="controls" id="car_controls">
								<label>Característica</label>
								<select class="singleSelectGrouped" id="caracteristica_select" name="language">
				                    
			           			</select>
			           			<button class="btn" style="height:46px;" onclick="addRowCar()" type="button">OK</button>
			           			<div  class="row-fluid" id="tabela2" style="  float:inherit; marging-top:20px; padding-top:20px; display: none">
											<div class="box span6">
												<div class="box-header">
													<h2><i class="icon-align-justify"></i><span class="break"></span>Características</h2>
												</div>
											<div class="box-content" >
												<table class="table" id="tabela_caracteristicas">
													  <thead>
														  <tr>
															  <th>Característica</th>
															  <th>Excluir</th>
															  <th>Valores</th>                                      
														  </tr>
													  </thead>   
													  <tbody>
														                         
													  </tbody>
												</table>  
											</div>     
										</div>
							</div>
						</div>
						<div class="control-group">
							
							<div class="controls" >
									<label >Adicionar Fotos </label>
									<input type="file" id="arquivos" text="ok" onchange="loadname(this,'previewimg')" name="files" webkitdirectory directory multiple />
							</div>
						</div>
						<div class="control-group">
							<div class="controls">
							<table class="fotos" width="600" style="display:inline">

							</table>
							<div id="trashFotos"  style="display:none"><a class="btn btn-danger" id="exclude" height="40" width="40"><i class="icon-trash " height="40" width="40"></i> </a> 
						</div>
						<div id="actions" style="clear: left; float: left; position: relative; left: 80%; ">
										<button id="salvar" type="button"  class="btn btn-primary">Salvar</button>
										<button type="reset" class="btn">Limpar</button>
						</div>
					</fieldset>
				</form>

					
    <script>

    $("#exclude").click(function(event){
		var qtd=$(".fotos").find("tr:first td").length;
		$(".fotos tr").each(function () {
			var count =0; 
		    $('td', this).each(function () {
		       if($(this).children().hasClass("selecionada")){
		       	
		       	for(i in ordem){
		       		if(ordem[i].name==$(this).children().attr("name")){
		       			ordem.splice(i, 1);
		       		}
		       	}
		       	console.log(ordem);
		       	$(this).remove();
		       }
		       if(count==qtd){
		       		$("#exclude").hide();
		       		$(".fotos tr").remove();
		       }
		     })

		})
	});

    $("body").on("click", ".img" , function(event){
			if($(this).hasClass("selecionada")){
				$(this).removeClass("selecionada");
			}else{
				$(this).addClass("selecionada");
			}
		});
    function openCarSF(valor){
    	$("#dialog").empty();
    	$( "#dialog" ).append("<h1 class='no-photo' style='display:none' >"+valor+"</h1>");
    	$( "#dialog" ).append('<label>Valor</label><input id="valor"></input> <button class="btn" onclick="addValor()" type="button">Add</button> ');
    	$( "#dialog" ).append('<table id="valores"></table>');
    	$( "#dialog" ).dialog( "open" );
    }
    var cont=0;
    function addValor(){
    	if($("#valor").val()!=""){
    		cont++;
    		$( "#valores" ).append('<tr id=row_'+cont+'><td>'+$("#valor").val()+'</td><td><a class="btn btn-danger" onclick="excluirValor('+cont+')" height="40" width="40"><i class="icon-trash " height="40" width="40"></i> </a></td></tr>');
    	}
    }
    function excluirValor(linha){
    	var id= ("row_"+linha);
    	console.log(id);
    	row= document.getElementById(id);
    	var table = document.getElementById("valores");
    	table.deleteRow(row.rowIndex);
    	cont--;
    }

    function openCar(valor){
    		 
			$("#dialog").empty();
			$("#dialog").append("<div class='loader' id='int_loader'> </div>");
			var ja=false;
			var i=0;
			console.log("ja peguei : "+jaPeguei);
			for(var i=0;i< jaPeguei.length; i++ ){
				if(valor==jaPeguei[i]){
					console.log("sim");
					ja=true;
				}
			}

			if(!ja){
				jaPeguei.push(valor);
				$.ajax({
				url: "../controllers/cadastros.php",
		        context: document.body,
		        data: {action:"getValoresCaracteristica", id:""+valor+""}, 
		        dataType:'json',
		        type: "GET",
		        	success: function(data){
		        		var fotos= [];
		        		$( "#dialog" ).append("<h1 style='display:none' >"+valor+"</h1>");
		        		for(var i=0;i< data.length; i++ ){
		        			console.log(data[i]);
		        			if(data[i]!=""){
		        				fotos[i]= data[i];

		        				$( "#dialog" ).append("<img height='50' class='img' style='margin-right:3px;' title='"+data[i].hint+"' id='"+data[i].id_foto+"' width='50' src='"+data[i].caminho+"'/>");
		        			}
		        		}
		        		caracteristicas_valores.push(fotos);
		        		$("#int_loader").hide();
		        	},
		        	error: function(data){
					 	console.log(data);
			        }
		        });

			}else{
				console.log("valor = "+valor);
				$( "#dialog" ).append("<h1 style='display:none' >"+valor+"</h1>");
				
				for(var i=0;i< caracteristicas_valores.length; i++ ){

					for(var j=0;j<caracteristicas_valores[i].length;j++){
						console.log("j = "+j);
						var sel=false;
						if(selecionadas_car[valor].length!= undefined){
							for(var k=0; k< selecionadas_car[valor].length; k++){

								var img = $("<img height='50' class='img' style='margin-right:3px;' title='"+caracteristicas_valores[i][j].hint+"' id='"+caracteristicas_valores[i][j].id_foto+"' width='50' src='"+caracteristicas_valores[i][j].caminho+"'/>");
								if(selecionadas_car[valor][k].attr("src")==img.attr("src")){
									sel=true;
								}
							}
						}
						if(sel){
							var img = $("<img height='50' class='img' style='margin-right:3px;' title='"+caracteristicas_valores[i][j].hint+"' id='"+caracteristicas_valores[i][j].id_foto+"' width='50' src='"+caracteristicas_valores[i][j].caminho+"'/>");
							$( "#dialog" ).append(img);
							img.addClass("selecionada");
						}
						else{
							console.log("nao tava");
							$( "#dialog" ).append("<img height='50' class='img' style='margin-right:3px;' title='"+caracteristicas_valores[i][j].hint+"' id='"+caracteristicas_valores[i][j].id_foto+"' width='50' src='"+caracteristicas_valores[i][j].caminho+"'/>");
						}
						
						$("#int_loader").hide();
					}
				}
			}

			$( "#dialog" ).dialog( "open" );
		};

    function addRowCar(){
    		var jaTem=false;
     		if($("#tabela2").css('display')=='none'){

     			if(!$($("#car_controls :nth-child(2n)")[0]).hasClass("fstElement fstSingleMode fstNoneSelected")){
     				
     				$("#tabela2").show();
     			}
     		}
     		console.log($($("#car_controls :nth-child(2n)")[0]).hasClass("fstElement fstSingleMode fstNoneSelected"));
     		if(!$($("#car_controls :nth-child(2n)")[0]).hasClass("fstElement fstSingleMode fstNoneSelected")){	
	     		var tableCarSize= $($("#tabela_caracteristicas").find("thead")[0]).find("tr").length;
				for(var i=1;i<tableCarSize;i++){
					if($($($("#tabela_caracteristicas").find("thead")[0]).find("tr")[i]).attr('id')==$("#caracteristica_select :selected").val()){
						jaTem=true;
					}
				}
     			if(!jaTem){
     				var row;
     				if($("#caracteristica_select :selected").hasClass("porFoto")){
     					row= $('<tr id="'+$("#caracteristica_select :selected").val()+'"> <td>'+$("#caracteristica_select :selected").text()+'</td> <td ><a  onclick="excluir('+$("#caracteristica_select :selected").val()+')" class="btn btn-danger" ><i class="icon-trash "></i> </a> </td><td><a class="btn btn-info"  onclick="openCar('+$("#caracteristica_select :selected").val()+')"><i class="icon-edit "></i></a></td></tr>');
     				$('#tabela_caracteristicas tr:last').after(row);
     					row.addClass("porFoto");
     				}else{
     					row= $('<tr id="'+$("#caracteristica_select :selected").val()+'"> <td>'+$("#caracteristica_select :selected").text()+'</td> <td ><a  onclick="excluir('+$("#caracteristica_select :selected").val()+')" class="btn btn-danger" ><i class="icon-trash "></i> </a> </td><td><a class="btn btn-info"  onclick="openCarSF('+$("#caracteristica_select :selected").val()+')"><i class="icon-edit "></i></a></td></tr>');
     						$('#tabela_caracteristicas tr:last').after(row);
     				}

     			}
     		}
    }
    function addRowCat(){
    		var jaTemCat=false;

     		if($("#tabela").css('display')=='none'){

     			if(!$($("#cat_controls :nth-child(2n)")[0]).hasClass("fstElement fstSingleMode fstNoneSelected")){
     				
     				$("#tabela").show();
     			}
     		}
     		if(!$($("#cat_controls :nth-child(2n)")[0]).hasClass("fstElement fstSingleMode fstNoneSelected")){	
     			var tableCatSize= $($("#tabela_categorias").find("thead")[0]).find("tr").length;
     			 	
 			 	for(var i=1;i<tableCatSize;i++){
     				if(!$($($($("#tabela_categorias").find("thead")[0]).find("tr")[i])).hasClass("sub")){
     					if($($($("#tabela_categorias").find("thead")[0]).find("tr")[i]).attr('id')==$("#categorias_select :selected").val()){
							jaTemCat=true;
						}
					}
				}
     			if(!jaTemCat ){
     				var row = $('<tr id="'+$("#categorias_select :selected").val()+'"> <td>'+$("#categorias_select :selected").text()+'</td> <td><a onclick="excluirCat('+$("#categorias_select :selected").val()+')" class="btn btn-danger" ><i class="icon-trash "></i> </a> </td></tr>');
     				
     				$('#tabela_categorias tr:last').after(row);
     				
     			}
     		}
    }
    var sub_cat =[];
    function addRowSub(){
    		var jaTemSub=false;
    		var jaTemSup= false;
    		console.log("yes");
     		if($("#tabela").css('display')=='none'){

     			if(!$($("#cat_controls :nth-child(5n)")[0]).hasClass("fstElement fstSingleMode fstNoneSelected")){
     				
     				$("#tabela").show();
     			}
     		}
     		if(!$($("#cat_controls :nth-child(5n)")[0]).hasClass("fstElement fstSingleMode fstNoneSelected")){	
     			var tableCatSize= $($("#tabela_categorias").find("thead")[0]).find("tr").length;
     			 	
 			 	for(var i=1;i<tableCatSize;i++){
     				if($($($($("#tabela_categorias").find("thead")[0]).find("tr")[i])).hasClass("sub")){
     					if($($($("#tabela_categorias").find("thead")[0]).find("tr")[i]).attr('id')==$("#subcategorias_select :selected").val()){
							console.log("e1");
							jaTemSub=true;
						}
					}else{

						if($($($("#tabela_categorias").find("thead")[0]).find("tr")[i]).attr('id') == cat_sub[$("#subcategorias_select :selected").val()]){
							console.log("e2");
							jaTemSup=true;
						}
					}
				}
     			if(!jaTemSub){
     				var row = $('<tr id="'+$("#subcategorias_select :selected").val()+'"> <td>'+$("#subcategorias_select :selected").text()+'</td> <td><a onclick="excluirSub('+$("#subcategorias_select :selected").val()+')" class="btn btn-danger" ><i class="icon-trash "></i> </a> </td></tr>');
     				row.addClass("sub");
     				$('#tabela_categorias tr:last').after(row);
     				if(!jaTemSup){
     					console.log("ahan");
     					
     					row = $('<tr id="'+cat_sub[$("#subcategorias_select :selected").val()]+'"> <td>'+ categorias[cat_sub[$("#subcategorias_select :selected").val()]]+'</td> <td><a onclick="excluirCat('+cat_sub[$("#subcategorias_select :selected").val()]+')" class="btn btn-danger" ><i class="icon-trash "></i> </a> </td></tr>');
     					$('#tabela_categorias tr:last').after(row);
     				}
     				
     			}
     		}
    }

    var categorias = [];
    var cat_sub=[];
 
    $( document ).ready(function() {
		$.ajax({
				url: "../controllers/cadastros.php",
		        context: document.body,
		        data: "action=getAllCaracteristicasCategoriasFabricas",
		        dataType:'json',
		        type: "GET",
		        	success: function(data){
		        		//console.log(data["categorias"]);
		        		for (var i = 0, len = data["categorias"].length; i < len; i++) {
		        			
		        			if(data["categorias"][i].nome!=""){
		        				if(data["categorias"][i].nome!=undefined){
		        					var option = $('<option  value="'+data["categorias"][i].id_categoria+'">'+data["categorias"][i].nome+'</option>');
		        					//console.log(data["categorias"][i].id_categoria);
		        					categorias[data["categorias"][i].id_categoria]= data["categorias"][i].nome;
		        					//console.log(categorias[data["categorias"][i].id_categoria]);
		        					console.log(data["categorias"][i]);
		        					if(data["categorias"][i].subcategoria){
		        						$("#subcategorias_select").append(option);
		        						//console.log(data["categorias"][i].supercategoria);
		        						console.log(data["categorias"][i].id_categoria);
		        						console.log(data["categorias"][i]["superCategoria"]);

		        						cat_sub[data["categorias"][i].id_categoria] = data["categorias"][i].superCategoria;
		        						sub_cat[data["categorias"][i].superCategoria]= data["categorias"][i].id_categoria;
		        					}else{
		        						$("#categorias_select").append(option);
		        					}
		        				}
		        			}
		        		}	
		        		for (var i = 0, len = data["fabricas"].length; i < len; i++) {
		        			console.log(data["fabricas"][i].nome);
		        			if(data["fabricas"][i].nome!=undefined){
		        				$("#fabrica_select").append('<option value="'+data["fabricas"][i].id_fabrica+'">'+data["fabricas"][i].nome+'</option>');
		        			}
		        		}
		        		for (var i = 0, len = data["caracteristicas"].length; i < len; i++) {
		        			if(data["caracteristicas"][i].nome!=undefined){
		        				var option = $('<option value="'+data["caracteristicas"][i].id_caracteristica+'">'+data["caracteristicas"][i].nome+'</option>');
		        				$("#caracteristica_select").append(option);
		        				if(data["caracteristicas"][i].valoresSelecionadosPorFoto){
		        					option.addClass("porFoto");
		        				}
		        			}
		        		}
		        		
		        		$("#ext_loader").hide();
						$("#campos").show();
			        },
			        error: function(data){
					 	console.log(data);
			        }

		});
		$( "#dialog" ).dialog();
	 
	});

                $('.singleSelectGrouped').fastselect();

        var index=0;
		var list = new Array();
		var ordem= [];
		var jaPeguei= [];
		var caracteristicas_valores= [];
		var selecionadas_car= [];
		var selecionadas_car_id= [];
		var j=0;
		var sem=1;


		function loadname(img){ 

			var isIE = (navigator.appName=="Microsoft Internet Explorer");  
			
			if($(".fotos tr").length==0){
				$('.fotos').append('<tr> </tr>');
			}
			
			files= img.files;
			for(var i=0; i<img.files.length; i++){
				
				if(img.files[i]){
					var ext= (img.files[i].webkitRelativePath.substring(img.files[i].webkitRelativePath.lastIndexOf('.') + 1).toLowerCase()); 
					if(ext == "jpg" || ext == "png"){
						sem=0;
						var o = new Object();
						var reader = new FileReader();  
						
						j++;
			            reader.onload = function(teste) { return function (e) {  
				            	$('.fotos tr').append('<td> <img src="'+e.target.result+'" name="'+teste.name+'"class="img" height="40" width="40" alt="" /> </td> ');
				               	ordem.push(teste);
				              	
				            };
			        	}(img.files[i]);
			         	reader.readAsDataURL(img.files[i]);
				        
				    }			
			    }
			}
			$("#arquivos").empty();
			$("#arquivos").tri
			$('#exclude').show();
			$('#trashFotos').css("display", "inline");
			$('#trashFotos').css("vertical-align", "top");
			
		}  
        </script>
		<script src="js/jquery-migrate-1.2.1.min.js"></script>	
		<script src="js/jquery.ui.touch-punch.js"></script>	
		<script src="js/modernizr.js"></script>	
		<script src="js/bootstrap.min.js"></script>	
		<script src="js/jquery.cookie.js"></script>	
		<script src='js/fullcalendar.min.js'></script>	
		<script src='js/jquery.dataTables.min.js'></script>
		<script src="js/excanvas.js"></script>
		<script src="js/jquery.flot.js"></script>
		<script src="js/jquery.flot.pie.js"></script>
		<script src="js/jquery.flot.stack.js"></script>
		<script src="js/jquery.flot.resize.min.js"></script>
		<script src="js/jquery.flot.time.js"></script>	
		<script src="js/jquery.uniform.min.js"></script>		
		<script src="js/jquery.cleditor.min.js"></script>	
		<script src="js/jquery.noty.js"></script>	
		<script src="js/jquery.elfinder.min.js"></script>	
		<script src="js/jquery.raty.min.js"></script>	
		<script src="js/jquery.iphone.toggle.js"></script>	
		<script src="js/jquery.uploadify-3.1.min.js"></script>	
		<script src="js/jquery.gritter.min.js"></script>	
		<script src="js/jquery.imagesloaded.js"></script>	
		<script src="js/jquery.masonry.min.js"></script>	
		<script src="js/jquery.knob.modified.js"></script>	
		<script src="js/jquery.sparkline.min.js"></script>	
		<script src="js/counter.min.js"></script>	
		<script src="js/raphael.2.1.0.min.js"></script>
		<script src="js/justgage.1.0.1.min.js"></script>	
		<script src="js/jquery.autosize.min.js"></script>	
		<script src="js/retina.js"></script>
		<script src="js/jquery.placeholder.min.js"></script>
		<script src="js/wizard.min.js"></script>
		<script src="js/charts.min.js"></script>	
		 <script>
		 	var valoresCarComuns = [];
		 	function salvarSelecionadas(){
		 		if($($("#dialog").children().eq(0)).hasClass("no-photo")){
		 			var valores = [];
		 			for(var i=0;i<$("#valores").find("tr").length;i++){
		 				valores.push($($("#valores").find("tr")[i]).find("td").text());
		 			}
		 			valoresCarComuns[($("#dialog").children().eq(0).text())] = valores;
		 			console.log(valoresCarComuns);

		 		}else{
			 		car= [];
			 		car2=[];
			 		for(var i=1;i<$("#dialog").children().length+1;i++){
			 			
			 			if($("#dialog").children().eq(i).hasClass("selecionada")){
			 				car.push($("#dialog").children().eq(i));
			 				car2.push($($("#dialog").children().eq(i)).attr("id"));
			 			}
			 		}
			 		selecionadas_car[($("#dialog").children().eq(1).text())] = car;
			 		selecionadas_car_id[($("#dialog").children().eq(1).text())] = car2;
			 		console.log(selecionadas_car);
			 	}
		 	}

		    $( "#dialog" ).dialog({
					autoOpen: false,
					width: 400,
					buttons: [
						{
							text: "Salvar",
							click: function() {
								salvarSelecionadas();
								$( this ).dialog( "close" );
								
							}
						},
						{
							text: "Cancelar",
							click: function() {
								$( this ).dialog( "close" );
							}
						}
					]
			});

			$( "#dialog2" ).dialog({
					autoOpen: false,
					
					buttons: [
						{
							text: "Ok",
							click: function() {
								$( this ).dialog( "close" );

							}
						}
					]
			});

		    $("#salvar").click(function(event){
		    
			if($("nome").text=="" || $("#fabrica_select :selected").val()==undefined || $("#tabela_categorias").find("tr").length==0 || $("#tabela_caracteristicas").find("tr").length==0 || ordem.length ==0 ){
				alert("Informações incompletas");


			}else{
				for(var i=1; i< $("#tabela_caracteristicas").find("tr").length ;i++){
					if($($("#tabela_caracteristicas").find("tr")[i]).hasClass("porFoto")){
						if( selecionadas_car[($("#tabela_caracteristicas").find("tr")[i]).id] == undefined){
							alert("Existem características adicionadas sem nenhum valor informado");
							return;
						}
					}else{
						if( valoresCarComuns[($("#tabela_caracteristicas").find("tr")[i]).id] == undefined){
							alert("Existem características adicionadas sem nenhum valor informado");
							return;
						}
					}
				}
				$("#content").append("<div class='loader2'> </div>");
		    	$( "#content" ).css("opacity", "0.5");
				var formData = new FormData();
		        for (var key in ordem) {
		        	console.log("key = "+key+"ordem[key]"+ordem[key] );
		          	formData.append(key, ordem[key]);
		        }
		       	var $select= $("#nome");
		        formData.append("nome", $("#nome").val());
		        console.log("nome = "+$("#nome").val());
		        var $select= $("#fabrica_select");
		        formData.append("fabrica",$($select.find(":selected")[0]).val());
		        formData.append("lancamento",$(".lanc")[0].checked);
		        formData.append("ativo",$(".ativo")[0].checked);
		        var $tableCatSize= $($("#tabela_categorias").find("thead")[0]).find("tr").length;
		        var $tableCarSize= $($("#tabela_caracteristicas").find("thead")[0]).find("tr").length;
		        var categorias= [];
		        var subcategorias= [];
		        var caracteristicas= [];
		        for(var i=1;i<$tableCatSize;i++){
		        	if(!$($($("#tabela_categorias").find("thead")[0]).find("tr")[i]).hasClass("sub")){
		        		categorias.push(($($("#tabela_categorias").find("thead")[0]).find("tr")[i]).id);
		        	}else{
		        		subcategorias.push(($($("#tabela_categorias").find("thead")[0]).find("tr")[i]).id);
		        	}
		        }
		        var jsonString = JSON.stringify(categorias);
		        formData.append("categorias", jsonString);
		        var jsonStr3 = JSON.stringify(subcategorias);
		        formData.append("subcategorias", jsonStr3);
		        console.log("subs");
		        console.log(subcategorias);
		        console.log("tam = "+ $tableCarSize );
		        for(var i=1;i<$tableCarSize;i++){
		        	caracteristicas.push(($($("#tabela_caracteristicas").find("thead")[0]).find("tr")[i]).id);
		        }
		        var jsonString2 = JSON.stringify(caracteristicas);
		        formData.append("caracteristicas", jsonString2);
		        var jstr = JSON.stringify(valoresCarComuns);
		       	formData.append("valores",jstr);
		       	console.log("vals");
		        console.log(valoresCarComuns);
		        
		       	var jstr2 = JSON.stringify(selecionadas_car_id);
		       	console.log(jstr2);
		       	formData.append("valoresComFoto",jstr2);
		        formData.append("action", "inserirProduto");
				$.ajax({
					url: "../controllers/cadastros.php",
		            type: 'POST',
		            data:  formData,
		            dataType: 'json',
		            success: function (data) {
		            	console.log(data);
		            	$("#dialog2" ).empty();
		            	$("#dialog2").append("<p style='text-align: center; font-size:15' >produto inserido com sucesso</p>")
	                	$("#dialog2" ).dialog( "open" );
	                	$(".loader2").hide();
	                	$("#content").css("opacity", "1");      	
	            	},
	            	error: function (data) {
	            		console.log(data);
	                	$("#dialog2" ).empty();
		            	$("#dialog2").append("<p style='text-align: center; font-size:15' >falha ao inserir produto</p>")
	                	$("#dialog2" ).dialog( "open" );
	                	$(".loader2").hide();
	                	$("#content").css("opacity", "1");
	            	},
		            cache: false,
		            contentType: false,
	            	processData: false
		    	});	
		    }
		});
			
		</script>
		
<body>
</html>