	<script src="http://code.jquery.com/jquery-1.12.4.min.js">$.noConflict();</script>

	 <style>
	 	.loader2 {
			  border: 16px solid #f3f3f3;
			  border-radius: 50%;
			  border-top: 16px solid #3498db;
			  position: fixed;
			  left:30%;
			  top: 30%;
			  width: 120px;
			  height: 120px;
			  
			  -webkit-animation: spin 2s linear infinite;
			  animation: spin 2s linear infinite;
			}

			@-webkit-keyframes spin {
			  0% { -webkit-transform: rotate(0deg); }
			  100% { -webkit-transform: rotate(360deg); }
			}

			@keyframes spin {
			  0% { transform: rotate(0deg); }
			  100% { transform: rotate(360deg); }
			}

		
	 </style>

						<form class="form" >

							<fieldset id="campos">

								<div class="control-group">
									<label class="control-label" for="focusedInput">Nome: </label>
									<div class="controls">
								  		<input class="input-xlarge focused nome" id="nome" type="text" value="">
									</div>
								</div>		
	
								<div id="actions" style="clear: left; float: left; position: relative; left: 80%; ">
									<button id="salvarF" type="button"  class="btn btn-primary">Salvar</button>
									<button type="reset" class="btn">Limpar</button>
								</div>
								
							</fieldset>
						</form>
		<script>
		$("#salvarF").click(function(event){
				alert("doidera");
				var formData = new FormData();
				formData.append("action", "inserirFabrica");
				formData.append("nome", $(".nome").val());
				$.ajax({
				 	url: "../controllers/cadastros.php",
		             type: 'POST',
		             data: formData, 
		             dataType: 'json',
		             success: function (data) {
		             	console.log("deu");
		             	console.log(data);  	
	             	},
	             	error: function (data) {
	             		
	             		console.log(datas);
	                
	             	},

		             cache: false,
		             contentType: false,
	            	processData: false
		     	});	
			
		});
		</script>

	
</body>
</html>